In [1]:
#DATA FRAMES
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
#USING DATA FRAMES WITH DICTIONARIES
import pandas as pd
myfavmovies ={'series':["Game of thrones","Ginny and Geogia","broke girls","jeez i cant finish all"],
             'cartoons':["turning red", "ecanto", "luca","the beast"]}
myvar = pd.DataFrame(myfavmovies)
print(myvar)

                   series     cartoons
0         Game of thrones  turning red
1        Ginny and Geogia       ecanto
2             broke girls         luca
3  jeez i cant finish all    the beast

In [4]:
#PRINTING THE COLUMN NAMES
print(myvar.columns)

Index(['series', 'cartoons'], dtype='object')

In [5]:
#PRINTING THE INDEXES AND THE STEP SIZE BETWEEN THEM
print(myvar.index)

RangeIndex(start=0, stop=4, step=1)

In [6]:
#USING SERIES
import pandas as pd
myfavmovies ={'series':["Game of thrones","Ginny and Geogia","broke girls","jeez i cant finish all"],
             'cartoons':["turning red", "ecanto", "luca","the beast"]}
myvar = pd.Series(myfavmovies)
print(myvar)# it wil print the values in form of a list

series      [Game of thrones, Ginny and Geogia, broke girl...
cartoons               [turning red, ecanto, luca, the beast]
dtype: object

In [7]:
#create a simple pandas series from a dictionary for days and dates
import pandas as pd

# Dictionary with days and dates
days_dates = {'Monday': '2023-07-03',
              'Tuesday': '2023-07-04',
              'Wednesday': '2023-07-05',
              'Thursday': '2023-07-06',
              'Friday': '2023-07-07'}

series = pd.Series(days_dates)

print(series)

Monday       2023-07-03
Tuesday      2023-07-04
Wednesday    2023-07-05
Thursday     2023-07-06
Friday       2023-07-07
dtype: object

In [9]:
#create a simple serie using only data from "Monday" and "Tuesday"
import pandas as pd

# Dictionary with days and dates
days_dates = {'Monday': '2023-07-03',
              'Tuesday': '2023-07-04',
              'Wednesday': '2023-07-05',
              'Thursday': '2023-07-06',
              'Friday': '2023-07-07'}

# Filter dictionary for "Monday" and "Tuesday" only
filtered_days_dates = {day: 
                           date for day,
                           date in days_dates.items() if day in ['Monday', 'Tuesday']}

# Create a pandas Series
series = pd.Series(filtered_days_dates)

# Print the Series
print(series)

Monday     2023-07-03
Tuesday    2023-07-04
dtype: object

In [10]:
# USING DIFFERENT OPERATIONS USING DATA FRAMES
df1 = pd.DataFrame(
    [
    ["samsang",1200000],
    ["iphone",1400000],
    ["techno",400000]
    ],
    columns =["Phones","Prices"]
)
df1.head()

    Phones   Prices
0  samsang  1200000
1   iphone  1400000
2   techno   400000

In [30]:
#printing the value at a specified index
df1["Phones"].iloc[0]

'samsang'

In [50]:
#printing data that is at the end
df1.tail(n=1)

   Phones  Prices
2  techno  400000

In [51]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#control display of seaborn data
pd.options.display.max_columns=50
sns.set(style="darkgrid",rc={"axes.facecolor":"#CAF1DE"})

In [52]:
#USING head() FUNCTION ON mine.csv
df = pd.read_csv("mine.csv")

# Use head() to display the first few rows of the data
print(df.head())

# Save the cleaned data to a new CSV file
df.to_csv("cleaned_mine.csv", index=False)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [53]:
#USING head() FUNCTION ON Work.csv

df2 = pd.read_csv("Work.csv")

# Use head() to display the first few rows of the data
print(df2.head())

# Save the cleaned data to a new CSV file
df2.to_csv("cleaned_Work.csv", index=False)

     Name         city  age py-score
0    Emma      Kampala   23       90
1  Wilber        Mbale   26       75
2   Robin         Gulu   25     mine
3   Tevor  Livingstone  NaN       89
4    Yeko       Tororo   20       94

In [70]:
# USING tail() FUNCTION ON mine.csv
df = pd.read_csv("mine.csv")

# Use tail() to display the last few rows of the data
print(df.tail())

# Save the cleaned data to a new CSV file
df.to_csv("cleaned_mine1.csv", index=False)

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [86]:
## USING tail() FUNCTION ON Work.csv

df2= pd.read_csv("Work.csv")

# Use tail() to display the last few rows of the data
print(df2.tail())

# Save the cleaned data to a new CSV file
df2.to_csv("cleaned_Work1.csv", index=False)

     Name         city    age py-score
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84

In [87]:
# Display information about the DataFrame using info() on mine.csv
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [88]:
# Display information about the DataFrame using info() on Work.csv
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [101]:
#USING dropna ON mine.csv file
# Read the CSV file
df = pd.read_csv("mine.csv")

# Display the number of rows with missing values before cleaning
print("Rows with missing values before cleaning:", df.isnull().sum().sum())

# Drop rows with missing values
df.dropna(inplace=True)

# Display the number of rows with missing values after cleaning
print("Rows with missing values after cleaning:", df.isnull().sum().sum())

# Save the cleaned data to a new CSV file
df.to_csv("cleaned_mine3.csv", index=False)

Rows with missing values before cleaning: 5
Rows with missing values after cleaning: 0

In [113]:
#USING dropna ON work.csv
# Read the CSV file
df2 = pd.read_csv("Work.csv")

# Display the number of rows with missing values before cleaning
print("Rows with missing values before cleaning:", df2.isnull().sum().sum())

# Drop rows with missing values
df2.dropna(inplace=True)

# Display the number of rows with missing values after cleaning
print("Rows with missing values after cleaning:", df2.isnull().sum().sum())

# Save the cleaned data to a new CSV file
df2.to_csv("cleaned_Work3.csv", index=False)

Rows with missing values before cleaning: 2
Rows with missing values after cleaning: 0

In [114]:
# using fillna on mine.csv
# Read the CSV file
df = pd.read_csv("mine.csv")

# Display the number of missing values before cleaning
print("Missing values before cleaning:\n", df.isnull().sum())

# Fill missing values with a specific value
specific_value = 0  
df.fillna(value=specific_value, inplace=True)

# Display the number of missing values after cleaning
print("Missing values after cleaning:\n", df.isnull().sum())

Missing values before cleaning:
 Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64
Missing values after cleaning:
 Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [115]:
# using fillna on Work.csv
# Read the CSV file
df2 = pd.read_csv("Work.csv")

# Display the number of missing values before cleaning
print("Missing values before cleaning:\n", df2.isnull().sum())

# Fill missing values with a specific value
specific_value = 0  
df2.fillna(value=specific_value, inplace=True)

# Display the number of missing values after cleaning
print("Missing values after cleaning:\n", df2.isnull().sum())

Missing values before cleaning:
 Name        0
city        0
age         1
py-score    1
dtype: int64
Missing values after cleaning:
 Name        0
city        0
age         0
py-score    0
dtype: int64

In [116]:
#Removing wrong data in mine.csv 
df = pd.read_csv("mine.csv")

# Remove rows where a particular column contains a specific value
df = df[df['Duration'] != 45]

# Remove rows where a numeric column is outside a specific range
df = df[(df['Maxpulse'] >= 120) & (df['Maxpulse'] <= 125)]

# Print the remaining values
print(df)

     Duration  Pulse  Maxpulse  Calories
9          60     98       124     269.0
11         60    100       120     250.7
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
25         60    100       120     250.0
32         60    101       124     299.0
37         60    100       120     300.0
38         60    100       120     300.0
42         60    100       122     329.4
56         60    118       121     413.0
75         90     98       125     563.2
99         90     93       124     604.1
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
110        60    102       124     325.2
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
125        60     98       122     271.0
126        60     97       124     275.3
128        90     99       125     466.4
157        60    100       120     270.4
159        30     80       120     240.9
160        30     85       120     250.4

In [117]:
#Removing wrong data in Work.csv 
df2 = pd.read_csv("Work.csv")

# Remove rows where a particular column contains a specific value
df2 = df2[df2['Name'] != 'Emma']

# Print the remaining values
print(df2)

     Name         city    age py-score
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84

In [118]:
#REMOVING WRONG FORMARTS IN mine.CSV file

# Read the CSV file
df = pd.read_csv("mine.csv")

# Remove rows with non-floating-point values in a specific column
df = df[df['Calories'].astype(str).str.contains(r'^\d+\.\d+$')]
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [119]:
#REMOVING WRONG FORMARTS IN WORK.CSV file
# Read the CSV file
df2 = pd.read_csv("Work.csv")

# Remove rows with non-numeric values in a specific column
df2 = df2[pd.to_numeric(df2['age'], errors='coerce').notnull()]

df2 = df2[pd.to_numeric(df2['py-score'], errors='coerce').notnull()]
df2.to_csv("Work2.csv", index=False)

print(df2)

     Name     city age py-score
0    Emma  Kampala  23       90
1  Wilber    Mbale  26       75
4    Yeko   Tororo  20       94
6   Jesca  Mbarara  21       84

In [120]:
# REMOVING DUPLICATE VALUES IN mine.csv
# Read the CSV file
df = pd.read_csv("mine.csv")

# Remove duplicates based on all columns
df.drop_duplicates(inplace=True)
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[162 rows x 4 columns]

In [121]:
# REMOVING DUPLICATE VALUES IN Work.csv
# Read the CSV file
df2 = pd.read_csv("Work.csv")

# Remove duplicates based on all columns
df2.drop_duplicates(inplace=True)
print(df2)

     Name         city    age py-score
0    Emma      Kampala     23       90
1  Wilber        Mbale     26       75
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84

In [122]:
#Performing some correlation on mine.csv
# Read the CSV file
df = pd.read_csv("mine.csv")

# Perform correlation analysis on the DataFrame
correlation_matrix = df.corr()

# Display the correlation matrix
print(correlation_matrix)

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922717
Pulse    -0.155408  1.000000  0.786535  0.025121
Maxpulse  0.009403  0.786535  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000

In [123]:
import pandas as pd
#PERFORMING SOME CORRELARATIONS ON work.csv using the new cleaned file work2.csv
df2 = pd.read_csv("Work2.csv")

# Select the columns for correlation analysis
numeric_columns = ['age', 'py-score']

# Convert numeric columns to float
df2[numeric_columns] = df2[numeric_columns].astype(float)

# Perform correlation analysis on the numeric columns
numeric_correlation_matrix = df2[numeric_columns].corr()

# Display the correlation matrix for numeric columns
print("Correlation Matrix (Numeric Columns):")
print(numeric_correlation_matrix)

Correlation Matrix (Numeric Columns):
               age  py-score
age       1.000000 -0.815891
py-score -0.815891  1.000000